body {
  max-width: 800px;
  padding: 0 20px;
  margin: 20px auto;
}
img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #e0e0e0;
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: black;
  }
}
:root {
  color-scheme: light dark;
}
